* {
    background-color: snow;
}

header {
    grid-area: "header";
}

.forumPostSection {
    grid-area: "forumPostSection";
}

.allPosts {
    grid-area: "allPosts";
}

body {
    text-align: center;
    display: grid;
    grid-template: ". header ." 1fr 5fr 1fr
                    ". forumPostSection ." 1fr 5fr 1fr
                    " . allPosts ."1fr 5fr 1fr;
}


.post {
    border: 1px solid grey;
    border-radius: 50px;
    margin: 50px;
    padding: 10px 70px 10px 70px;
}

#emoji {
    grid-area: "emoji";   
}
